<nav id="default-navbar" class="bg-neutral-primary/70 backdrop-blur-md fixed w-full z-9999 top-0 start-0">
      <div class="flex flex-wrap items-center mx-auto justify-start py-3 px-3">
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary lg:hidden"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M5 7h14M5 12h14M5 17h14"
            />
          </svg>
        </button>
        <div class="flex items-center gap-3">
            <img src="assets/images/logo.jpeg" class="h-12" alt="AvatarForms Logo"/> <!-- Change logo if you want to -->
            <span
                class="self-center text-xl text-heading font-semibold whitespace-nowrap"
                ><a href="index.html" class="hover:text-fg-brand">AvatarForms</a></span>
        </div>
        <div class="hidden w-full lg:flex lg:w-auto lg:ml-auto" id="navbar-default">
          <ul
            class="font-medium flex flex-col lg:flex-row lg:gap-3 p-4 lg:p-0 mt-4 lg:mt-0 border border-gray-200/30 dark:border-gray-700/30 lg:border-0 rounded-base lg:rounded-none bg-white/60 dark:bg-gray-800/60 backdrop-blur-sm lg:bg-transparent lg:backdrop-blur-none"
          >
            <li>
              <a
                href="requirements.html"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >Requirements</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >Research</a
              >
            </li>
            <li>
              <a
                href="ui-showcase.html"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >UI Showcase</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >System Design</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >Implementation</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >Testing</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >Evaluation</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >Appendices</a
              >
            </li>
            <li>
              <a
                href="#"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Dexdezdes/COMP0016_2026_Team14_AvatarForms.git"
                class="nav-link-bar block py-2 px-3 text-heading bg-brand rounded"
                aria-current="page"
                >GitHub</a
              >
            </li>
            <li class="ml-4 flex items-center">
                <button onclick="document.documentElement.classList.toggle('dark')" 
                        class="cursor-pointer p-2 border border-current rounded-md hover:opacity-70 transition-opacity relative w-9 h-9">
                    <svg class="w-5 h-5 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <g style="opacity: var(--sun-op)">
                            <circle cx="12" cy="12" r="5"></circle>
                            <path d="M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72l1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42M17.66 6.34l1.42-1.42"></path>
                        </g>
                        <path style="opacity: var(--moon-op)" d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
                </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>