<aside id="default-sidebar" class="fixed  z-40 w-64 h-full transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto border-e">
      <ul class="space-y-2 font-medium">
         <li>
            <a href="requirements.html" class="block px-2 py-1.5 rounded-base">Requirements</a>
         </li>
         <li>
            <a href="#" class="block px-2 py-1.5 rounded-base">Research</a>
         </li>
         <li>
            <a href="ui-showcase.html" class="block px-2 py-1.5 rounded-base">UI Showcase</a>
         </li>
         <li>
            <a href="#" class="block px-2 py-1.5 rounded-base">System Design</a>
         </li>
         <li>
            <a href="#" class="block px-2 py-1.5 rounded-base">Implementation</a>
         </li>
         <li>
            <a href="#" class="block px-2 py-1.5 rounded-base">Testing</a>
         </li>
         <li>
            <a href="#" class="block px-2 py-1.5 rounded-base">Evaluation</a>
         </li>
         <li>
            <a href="appendices.html" class="block px-2 py-1.5 rounded-base">Appendices</a>
         </li>
         <li>
            <a href="#" class="block px-2 py-1.5 rounded-base">Blog</a>
         </li>
         <li>
            <a href="https://github.com/Dexdezdes/COMP0016_2026_Team14_AvatarForms.git" class="block px-2 py-1.5 rounded-base">GitHub</a>
         </li>
      </ul>
   </div>
</aside>